@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&family=Fira+Sans:wght@500&family=Inter:wght@500&family=Merriweather:ital@1&family=Poppins&family=Roboto:ital,wght@0,700;1,100;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background: #B7D0DD;
}
.destop-3-main{
    width: 100%;
    height:900px;
   background-image: url("../main\ img/mvshv23_illustration_of_a_downtown_dubai_from_a_boat_on_the_wat_754ed4c0-4ff9-4fc2-b2d3-a15445b8ffe7 1.png");
background-repeat: no-repeat;
background-size: 100% 100%;
}
.destop-3-main-fon{
    width: 100%;
    height:  900px;
    background: url("../main\ img/Rectangle 4324.png");

}
.nav{
    width: 100%;
    height: 70px;
    position: relative;
    top: 30px;
    border-top: 1px solid white;
   border-bottom: 1px solid white;
   margin-bottom: 100px;
}
.nav-ichi{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-text{
    display: flex;
    align-items: center;
    gap: 100px;
}
.nav-text a{
    font-family: 'DM Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: white;
text-decoration: none;
list-style: none;
}
.nav-select select{
    width: 208px;
height:39px;
border-radius: 10.3px;
border: 1.29px;
background: none;
border: 1px solid #FFFFFF;
outline: none;
display: flex;
align-items: center;
font-family: 'DM Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-size:18px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
padding-left: 10px;
color: white;
position: relative;
top: -4px;
}
.destop-3-main-fon-text{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: end;
    padding-top: 110px;
}
.destop-3-main-fon-text h1{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 120px;
font-weight: 700;
line-height: 82px;
letter-spacing: 0em;
text-align: right;
color: white;
margin-bottom: 35px;
}
.t-input-from {
    display: flex;
    justify-content: end;
}
.t-input-from input{
    width: 420px;
height: 49px;
border-radius: 80px;
margin-bottom: 20px;
outline: none;
border: none;
background: #D9D9D9;
font-family: 'DM Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 25px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #00000042 !important;
padding-left: 30px;
}
.t-input-from input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
.t-input-from button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 51px;
border-radius: 18.3px;
gap: 10.17px;
background: #EA9E50;
box-shadow: 0px 10.166807174682617px 20.333614349365234px 0px #1F2022;
border: none;
outline: none;
font-family: 'DM Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;
transition: 0.4s ease inherit;
cursor: pointer;
}
  
.t-input-from button:active {
    transform: scale(0.96);
  }
  
.t-input-btn{
    display: flex;
    justify-content: center;
}
.nav-menu{
    display: none;
}
@media (max-width:1520px) {
    .nav-text{
        display: flex;
        align-items: center;
        gap: 80px;
    }
}
@media (max-width:1360px) {
    .nav-text{
        display: flex;
        align-items: center;
        gap: 60px;
    }
}
@media (max-width:1180px) {
    .nav-text{
        display: flex;
        align-items: center;
        gap: 30px;
    }   
    .destop-3-main-fon-text h1{
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
    margin-bottom: 35px;
    }
    .t-input-from input{
        width: 380px;
    height: 49px;
    border-radius: 80px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    background: #D9D9D9;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000042 !important;
    padding-left: 30px;
    }
    .t-input-from button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 202px;
        height: 41px;
    border-radius: 18.3px;
    gap: 10.17px;
    background: #EA9E50;
    box-shadow: 0px 10.166807174682617px 20.333614349365234px 0px #1F2022;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    transition: 0.4s ease inherit;
    cursor: pointer;
    }
}
@media (max-width:1001px) {
    .nav-text a{
        display: none;
    }
    .nav-menu{
        display: block;
        position: relative;
        top: -2px;
    }
    .nav-menu box-icon{
        cursor: pointer;
    }
}
@media (max-width:660px) {
    .destop-3-main-fon-text h1{
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0em;
    color: white;
    margin-bottom: 35px;
    }
    .t-input-from input{
        width: 300px;
    height: 49px;
    border-radius: 80px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    background: #D9D9D9;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000042 !important;
    padding-left: 30px;
    }
    .t-input-from button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 41px;
    border-radius: 18.3px;
    gap: 10.17px;
    background: #EA9E50;
    box-shadow: 0px 10.166807174682617px 20.333614349365234px 0px #1F2022;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    transition: 0.4s ease inherit;
    cursor: pointer;
    }
}
@media (max-width:534px) {
    .destop-3-main-fon-text h1{
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-bottom: 35px;
    } 
    .t-input-from {
        display: flex;
        justify-content: center;
    }
}
@media (max-width:457px) {
    .destop-3-main-fon-text h1{
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-bottom: 35px;
    } 
    .t-input-from input{
        width: 300px;
    height: 49px;
    }
    .destop-3-main-fon-text {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        padding-top: 110px;
    }
    .destop-3-main-fron-ichi{
        width: 90%;
    }
    .nav-img img{
        width: 80px;
        position: relative;
        top: 9px;
    }
    .nav-select{
        position: relative;
        top: 11px;
    }
    .nav-select select{
        width: 168px;
        height: 39px;
    }
    .nav-menu{
        position: relative;
        top: 9px;
    }

}
.directions-header{
    width: 100%;
    
}
.directions-header-ichi{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 100px;
}
.directions-header-ichi-h2{
text-align: center;
}
.directions-header-ichi-h2 h1{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 75px;
font-weight: 400;
line-height: 52px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 20px;
}
.directions-header-ichi-h2 p{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 50px;
}
.grid-block{
    width: 391px ;
    height: 404px;
    border-radius: 20px;
    background: url("../main\ img/Egypt.png");
}
/* .direction-header-grid{
    display: grid;
    grid-template-columns: auto auto  auto auto;
    justify-content: center;
}
 */
.deriction-header-grid-2 .grid-block{
    width: 391px;
        height: 404px;
        border-radius: 20px;
       background: url("../main\ img/mvshv23_Dubai_desert_fun_vector_style_f7226fb2-7e93-4c6a-9ec2-6715e998239d.png");
}
.grid-block-big {
    width: 801px;
    height: 404px;
    border-radius: 20px;
    background: url("../main\ img/mvshv23_Jeddah_vector_style_6bc4d70c-ad67-42ed-a7c8-d01e52317fba 1.svg");
    cursor: pointer;
}
.direction-header-grid{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.deriction-header-grid-2{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.grid-block2{
        width: 391px;
            height: 404px;
            border-radius: 20px;
            background: url("../main\ img/mvshv23_Medina_Saudi_Arabia_vector_style_99d1c991-49d2-449b-901f-f4b708dd1f8b 1.png");
            cursor: pointer;
}
.grid-block3 {
    width: 391px;
    height: 404px;
    border-radius: 20px;
    background: url("../main\ img/mvshv23_Antalya_old_town_Turkiye_vector_style_297c2036-1cdf-44f2-a3e5-6d9706bf6cae.png");
}
.sahro-ichi-qora-fon{
    width: 100%;
    height: 100%;
    background: url("../main\ img/Rectangle 11.png");
    cursor: pointer;
}
.turkiya-qora-fon{
    width: 100%;
    height: 100%;
    background: url("../main\ img/Rectangle 11 (1).png");
    cursor: pointer;
}
.uea-qora-fon{
    width: 100%;
        height: 100%;
        background: url("../main\ img/Rectangle 11 (3).png");
        cursor: pointer;
}
.sahro-zb h3{
    font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.sahro-zb{
    width: 85%;
    height: 90%;
    display: flex;
    align-items: end;
    margin: auto;
}
@media (max-width:1401px) {
    .directions-header-ichi {
            width: 100%;
            margin: auto;
            padding-top: 100px;
            margin-bottom: 100px;
        }
}
@media (max-width:1279px) {
    .grid-block {
            width: 351px;
            height: 404px;
            border-radius: 20px;
            background: url(../main\ img/Egypt.png);
            overflow: hidden;
        }
        .grid-block-2{
            width: 351px !important;
            height: 404px;
            border-radius: 20px;
            background: url("../main\ img/mvshv23_Dubai_desert_fun_vector_style_f7226fb2-7e93-4c6a-9ec2-6715e998239d.png");
            overflow: hidden !important;
        }
        .grid-block-3{
            width: 351px !important;
            height: 404px;
            overflow: hidden !important;
        }
        .grid-block-4{
            width: 351px !important;
            height: 404px;
            overflow: hidden !important;
        }
        
                .grid-block2 {
                    width: 351px;
                    height: 404px;
                    border-radius: 20px;
                    background: url("../main\ img/mvshv23_Medina_Saudi_Arabia_vector_style_99d1c991-49d2-449b-901f-f4b708dd1f8b 1.png");
                    overflow: hidden;
                }
        
                .grid-block3 {
                    width: 351px;
                    height: 404px;
                    border-radius: 20px;
                    background: url("../main\ img/mvshv23_Antalya_old_town_Turkiye_vector_style_297c2036-1cdf-44f2-a3e5-6d9706bf6cae.png");
                    overflow: hidden;
                }
                .deriction-header-grid-3 .grid-block{
                    width: 351px !important;
                    height: 404px;
                    overflow: hidden !important;
                }
                .grid-block-big1 {
                    width: 735px !important;
                    height: 404px;
                    overflow: hidden !important;
                }
             .deriction-header-grid-2 .grid-block {
        width: 351px;
        border-radius: 20px;
        background: url(../main\ img/mvshv23_Dubai_desert_fun_vector_style_f7226fb2-7e93-4c6a-9ec2-6715e998239d.png);
           }
                   .grid-block-big {
                       width: 735px;
                       height: 404px;
                       border-radius: 20px;
                       background: url("../main\ img/mvshv23_Jeddah_vector_style_6bc4d70c-ad67-42ed-a7c8-d01e52317fba 1.svg");
                   }
                .sahro-zb h3 {
                  font-family: 'DM Sans', sans-serif;
                  font-family: 'Fira Sans', sans-serif;
                   font-family: 'Inter', sans-serif;
                  font-family: 'Merriweather', serif;
                  font-family: 'Poppins', sans-serif;
                  font-family: 'Roboto', sans-serif;
                  font-size: 30px;
                  font-weight: 400;
                                       line-height: 46px;
                                       letter-spacing: 0em;
                                       text-align: left;
                                       color: #FFFFFF;
                    }
                    .tour-packages-header-block {
                        display: flex;
                        justify-content: center;
                        gap: 40px !important;
                        margin-bottom: 100px;
                        padding-left: 10px !important;
                    }
                    .tour-hedaer-block1 {
                        width: 341px !important;
                        height: 618px;
                        border-radius: 50px;
                        background: url(../main\ img/mvshv23_an_image_of_the_historical_city_of_Saudi_Arabia_in_the__32bdc0ea-79f8-4479-a718-edc13476f0f0.png);
                        margin-bottom: 20px;
                        overflow: hidden;
                    }
                    .tour-hedaer-block2 {
                        width: 341px !important;
                        height: 618px;
                        border-radius: 50px;
                        background: url(../main\ img/Egypt1.png);
                        margin-bottom: 20px;
                        margin-top: 70px;
                        overflow: hidden;
                    }
                    .tour-hedaer-block3 {
                        width: 341px !important;
                        height: 618px;
                        border-radius: 50px;
                        background: url(../main\ img/mvshv23_an_image_of_the_historical_city_of_istanbul_in_the_styl_84206478-1913-4aa1-be39-be587e0ba80d.png);
                        margin-bottom: 20px;
                        overflow: hidden;
                    }
}
@media (max-width:1157px) {
    .directions-header-ichi-h2 h1 {
        font-size: 65px;
    }
    .directions-header-ichi-h2 p {
        font-size: 25px;
    }
    .tour-packages-header-block {
        display: flex;
        justify-content: center;
        gap: 60px;
        margin-bottom: 100px;
        overflow-x: auto !important;
        overflow-y: auto !important;
        overflow: auto !important;
    }
    .tour-packages-header-block::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
        display: none !important;
    }

    .tour-hedaer-block3 {
        width: 341px !important;
        height: 618px;
        border-radius: 50px;
        background: url(../main\ img/mvshv23_an_image_of_the_historical_city_of_istanbul_in_the_styl_84206478-1913-4aa1-be39-be587e0ba80d.png);
        margin-bottom: 20px;
        overflow: hidden;
        margin-top: 40px;
    }
    .tour-hedaer-block1 {
        width: 371px;
        height: 618px;
        border-radius: 50px;
        background: url(../main\ img/mvshv23_an_image_of_the_historical_city_of_Saudi_Arabia_in_the__32bdc0ea-79f8-4479-a718-edc13476f0f0.png);
        margin-bottom: 20px;
        overflow: hidden;
        margin-top: 40px;
    }
    .tour-hedaer-block2 {
        width: 371px;
        height: 618px;
        border-radius: 50px;
        background: url(../main\ img/Egypt1.png);
        margin-bottom: 20px;
        margin-top: 40px !important;
        overflow: hidden;
    }
    .tour-big-bro:hover{
        transform: translateY(0px) !important;
     }
     .tour-big-bro3:hover{
         transform: translateY(0px) !important;
      }
      .tourr-btn button{
        display: flex !important;
        justify-content: center;
    }
.tourr-btn1{
    position: relative;
    top: 22px !important;
}
.oosososssa{
    position: relative;
    top: 22px !important;
}
}
@media (max-width:1115px) {
    .grid-block3 {
        width: 730px;
        height: 404px;
        border-radius: 20px;
        background: url(../main\ img/mvshv23_Antalya_old_town_Turkiye_vector_style_297c2036-1cdf-44f2-a3e5-6d9706bf6cae.png);
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .grid-block-4{
        width: 730px !important;
        height: 404px;
        border-radius: 20px;
        overflow: hidden !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
    }
.deriction-header-grid-3{
    flex-wrap: wrap;
}
.grid-block-big1 {
    width: 351px !important;
    height: 404px;
    border-radius: 20px;
    background: url("../main\ img/mvshv23_atlantis_aquaventure_waterpark_dubai_vector_style_557f6942-b199-4600-9f5a-e96bc521c04b 1.png");
    cursor: pointer;
}
    .turkiya-qora-fon {
        width: 100%;
        height: 100%;
        background: url("../main\ img/Rectangle 11 (1).png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .grid-block-big {
        width: 351px;
        height: 404px;
        border-radius: 20px;
        background: url("../main\ img/mvshv23_Jeddah_vector_style_6bc4d70c-ad67-42ed-a7c8-d01e52317fba 1.svg");
    }
}
@media (max-width:854px) {
    .directions-header-ichi-h2 h1 {
        font-size: 60px;
    }
    .directions-header-ichi-h2 p {
        font-size: 20px;
    }
}
@media (max-width:787px) {
    .deriction-header-grid-3 .grid-block {
        width: 90% !important;
        height: 404px;
        overflow: hidden !important;
    }
    .grid-block-big1 {
        width: 90% !important;
        height: 404px;
        border-radius: 20px;
        cursor: pointer;
    }
    .grid-block-2 {
        width: 90% !important;
        height: 404px;
        border-radius: 20px;
        overflow: hidden !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
    }
    .grid-block-3 {
        width: 90% !important;
        height: 404px;
        overflow: hidden !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
    }
    .grid-block-4 {
        width: 90% !important;
        height: 404px;
        border-radius: 20px;
        overflow: hidden !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
    }
    .grid-block {
        width: 90%;
        height: 404px;
        border-radius: 20px;
        background: url("../main\ img/Egypt.png");
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .grid-block2 {
        width: 90%;
        height: 404px;
        border-radius: 20px;
        background: url("../main\ img/mvshv23_Medina_Saudi_Arabia_vector_style_99d1c991-49d2-449b-901f-f4b708dd1f8b 1.png");
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .grid-block3 {
        width: 90%;
        height: 404px;
        border-radius: 20px;
        background: url(../main\ img/mvshv23_Antalya_old_town_Turkiye_vector_style_297c2036-1cdf-44f2-a3e5-6d9706bf6cae.png);
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .deriction-header-grid-2 .grid-block {
        width: 90%;
        border-radius: 20px;
        background: url("../main\ img/mvshv23_Dubai_desert_fun_vector_style_f7226fb2-7e93-4c6a-9ec2-6715e998239d.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .deriction-header-grid-2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .grid-block-big {
        width: 90%;
        height: 404px;
        border-radius: 20px;
        background: url("../main\ img/mvshv23_Jeddah_vector_style_6bc4d70c-ad67-42ed-a7c8-d01e52317fba 1.svg");
        background-repeat: no-repeat;
       
    }
    .sahro-ichi-qora-fon {
        width: 100%;
        height: 100%;
        background: url("../main\ img/Rectangle 11.png");
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .uea-qora-fon {
        width: 100%;
        height: 100%;
        background: url("../main\ img/Rectangle 11 (3).png");
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 100%;
}
}
@media (max-width:726px) {
    .directions-header-ichi-h2 h1 {
        font-size: 8vw;
    }
    .directions-header-ichi-h2 p {
        font-size: 2.7vw;
    }
}
@media (max-width:501px) {
    .directions-header-ichi-h2 h1 {
        font-size: 40px;
    }
    .directions-header-ichi-h2 p {
        font-size: 14px;
    } 
    .tour-width-auto h1 {
    font-size: 40px !important;
}
}
@media (max-width:464px) {
    .directions-header-ichi-h2 h1 {
        font-size: 35px;
    }
    .directions-header-ichi-h2 p {
        font-size: 12px;
    }    
}
@media (max-width:478px) {
    .grid-block {
        width: 90%;
        height: 404px;
        border-radius: 20px;
        background: url(../main\ img/Egypt.png);
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .sahro-ichi-qora-fon {
        width: 100%;
        height: 100%;
        background: url("../main\ img/Rectangle 11.png");
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .grid-block2 {
        width: 90%;
        height: 404px;
        border-radius: 20px;
        background: url("../main\ img/mvshv23_Medina_Saudi_Arabia_vector_style_99d1c991-49d2-449b-901f-f4b708dd1f8b 1.png");
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .uea-qora-fon {
        width: 100%;
        height: 100%;
        background: url("../main\ img/Rectangle 11 (3).png");
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .deriction-header-grid-2 .grid-block {
        width: 90%;
        border-radius: 20px;
        background: url(../main\ img/mvshv23_Dubai_desert_fun_vector_style_f7226fb2-7e93-4c6a-9ec2-6715e998239d.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
.tour-packages{
    width: 100%; 
}
.tour-width-auto{
    width: 90%;
    margin: auto;
    text-align: center;
}
.tour-hedaer-block1{
    width: 371px;
height: 618px;
border-radius: 50px;
background: url("../main\ img/mvshv23_an_image_of_the_historical_city_of_Saudi_Arabia_in_the__32bdc0ea-79f8-4479-a718-edc13476f0f0.png");
margin-bottom: 20px;
overflow: hidden;
}
.tour-fon1 {
    width: 100%;
    height: 194px;
    background: url("../main\ img/Rectangle 18.png");
    text-align: center;
}
.tour-fon1 h3{
    padding-top: 50px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 35px;
font-weight: 400;
line-height: 46px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
}
.tour-big-bro{
    width: 371px;
    transform: translateX(0px);
    transition: 0.4s ease-in-out ;
    cursor: pointer;
}
.tour-big-bro2{
    width: 371px;
}
.tour-big-bro3{
    width: 371px;
    transform: translateX(0px);
    transition: 0.4s ease-in-out ;
    cursor: pointer;
    
}

.tour-text-d p{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 400;
letter-spacing: 0em;
text-align: center;
color: #242A3A;
margin-bottom: 20px;
}
.tour-hedaer-block2{
    width: 371px;
    height: 618px;
    border-radius: 50px;
    background: url("../main\ img/Egypt1.png");
    margin-bottom: 20px;
    margin-top: 70px;
    overflow: hidden;
}
.tour-packages-header-block{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
}
.tour-hedaer-block3{
    width: 371px;
    height: 618px;
    border-radius: 50px;
    background: url("../main\ img/mvshv23_an_image_of_the_historical_city_of_istanbul_in_the_styl_84206478-1913-4aa1-be39-be587e0ba80d.png");
    margin-bottom: 20px;
    overflow: hidden;
}
.tour-width-auto h1{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 70px;
font-weight: 400;
line-height: 46px;
letter-spacing: 0em;
text-align: center;
color:black; 
padding-top: 30px;
margin-bottom: 30px;
}
.tour-big-bro:hover {
   transform: translateY(70px);
}
.tour-big-bro:hover button {
display: flex;
 }
 .tour-big-bro3:hover button {
    display: flex;
     }
.tour-big-bro3:hover{
    transform: translateY(70px);
   display: block;
 }
 .tour-text-d button{
    width:222px;
height: 82px;
border: 2px;
gap: 8px;
border: 2px solid #F29025;
background: #F29025;
cursor: pointer;
border-radius: 40px;
color: #141841;
font-size: 20px;
font-weight: 400;
letter-spacing: 0em;
display: flex;
align-items: center;
justify-content: center;
transition: 0.4s ease-in-out;
display: flex;
 }
 .tourr-btn{
display: flex;
justify-content: center;
 }
.tourr-btn p{
    position: relative;
    top: 7px;
}
.tourr-btn button{
    display: none;
}
.tourr-btn1{
    display: flex;
    justify-content: center;
     }
     .tourr-btn1 p{
        position: relative;
        top: 7px;
    }
    .excursions-header{
        width: 100%;
        height: 1000px;
    }
    .excursions-width-auto{
        width: 90%;
        margin: auto;
    }
    .directions-header-ichi-h3{
        width: 71%;
        margin: auto;
    }
    .directions-header-ichi-h3 h1{
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
    font-size: 75px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
    }

    .deriction-header-grid-3 .grid-block{
        width: 391px;
            height: 404px;
            border-radius: 20px;
           background: url("../main\ img/mvshv23_Jebel_Hafeet_Abu_Dhabi_vector_style_146c65cf-7727-4c05-b54d-cd9e40f6117c.png");
   overflow: hidden !important;
   background-size: 100% 100%;
        }
    .deriction-header-grid-3{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom:20px;
    }
    .uea-qora-fon1{
        width: 100%;
            height: 100%;
            background: url("../main\ img/bu11.png");
            cursor: pointer;
            overflow: hidden !important;
            background-repeat: no-repeat;
            background-size: 100% 100%;
    }
    .sahro-zb1 h3{
        font-family: 'DM Sans', sans-serif;
            font-family: 'Fira Sans', sans-serif;
            font-family: 'Inter', sans-serif;
            font-family: 'Merriweather', serif;
            font-family: 'Poppins', sans-serif;
            font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
    .sahro-zb1{
        width: 85%;
        height: 90%;
        display: flex;
        align-items: end;
        margin: auto;
    }
    .grid-block-big1 {
        width: 801px;
        height: 404px;
        border-radius: 20px;
        background: url("../main\ img/mvshv23_atlantis_aquaventure_waterpark_dubai_vector_style_557f6942-b199-4600-9f5a-e96bc521c04b 1.png");
        cursor: pointer;
    }
    /* background: url("../main\ img/mvshv23_Dubai_desert_fun_vector_style_f7226fb2-7e93-4c6a-9ec2-6715e998239d.png"); */

    .grid-block-2{
        width: 391px ;
        height: 404px;
        border-radius: 20px;
        background: url("../main\ img/mvshv23_Dubai_desert_fun_vector_style_f7226fb2-7e93-4c6a-9ec2-6715e998239d.png");
    }
    .grid-block-3{
        width: 391px;
            height: 404px;
            border-radius: 20px;
            background: url("../main\ img/mvshv23_Sharjah_city_UAE_vector_style_e06ce261-0231-4e8b-a52f-9a3dea4d4ceb.png");
            cursor: pointer;
}
/* mvshv23_Dubai_shopping_tour_Dubai_Mall_vector_style_ec031eba-05f1-4566-a276-026fa6cca38f */

.grid-block-4 {
    width: 391px;
    height: 404px;
    border-radius: 20px;
    background: url("../main\ img/mvshv23_Dubai_shopping_tour_Dubai_Mall_vector_style_ec031eba-05f1-4566-a276-026fa6cca38f.png");
}